<!DOCTYPE HTML>

<html>

<head>
	<title>Admin Signin Portal </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Contact -->
		<section id="contact">
			<div class="inner">
				<section>
					<form action="http://localhost:5000/admin" method="POST">
						<div class="fields">
							<div class="field">
								<label for="name">Name</label>
								<input type="text" name="name" id="name" />
							</div>
							<div class="field">
								<label for="password">Password</label>
								<input type="password" name="password" id="password" />

							</div>

						</div>
						<ul class="actions">
							<li><input type="submit" value="Sign In" class="primary" /></li>
							<li><input type="reset" value="Clear" /></li>
						</ul>
					</form>
					<p>Note: Password can be replaced with Finger Print / Retinal scan</p>
				</section>
				<section class="split">
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-envelope"></span>
							<h3>Email</h3>
							<a href="mailto:generalelections@iitb.ac.in">generalelections@iitb.ac.in</a>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-phone"></span>
							<h3>Phone</h3>
							<span>+91 (22) 2576 8099</span>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-home"></span>
							<h3>Address</h3>
							<a>Main Gate Rd, IIT Area,<br> Powai, Mumbai, Maharashtra 400076</a>
						</div>
					</section>
				</section>
			</div>
		</section>


		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="https://twitter.com/ta_run__07" class="icon brands alt fa-twitter"><span
								class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/tarunsai-07" class="icon brands alt fa-github"><span
								class="label">GitHub</span></a></li>
					<li><a href="https://www.linkedin.com/in/tarun-%E2%80%8E-73036a194/"
							class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Tarun</li>
				</ul>
			</div>
		</footer>

	</div>


</body>

</html>