<!DOCTYPE HTML>

<html>

<head>
	<title>Voting Portal</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">


		<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major">

					<h1>Decentralized Voting System using Blockchain</h1>
				</header>
				<div class="content">
					<center>
						<a href="sign_in.html" class="button next scrolly">🗳️ Vote Now / Test Now</a>
					</center>
					<center>
						<a href="admin_signin.html" class="button next scrolly">💻 Admin Portal</a>
					</center>
					<center>
						<a href="check_signin.html" class="button next scrolly">🗹 Check your vote status</a>
					</center>

				</div>

			</div>
		</section>


		<div id="main">
			<div class="inner">
				<p>Blockchain is a technology that is rapidly gaining momentum in era of industry 4.0. With high
					security and transparency provisions, it is being widely used in supply chain management systems,
					healthcare, payments, business, IoT, voting systems, etc.</p>
				<h3>Why do we need it?</h3></br>
				<p>Current voting systems like ballot box voting or electronic voting suffer from various security
					threats such as DDoS attacks, polling booth capturing, vote alteration and manipulation, malware
					attacks, etc, and also require huge amounts of paperwork, human resources, and time. This creates a
					sense of distrust among existing systems.
					</br>Some of the disadvantages are:</p>
				<ul>
					<li>Long Queues during elections</li>
					<li>Security Breaches like data leaks, vote tampering.</li>
					<li>Lot of paperwork involved, hence less eco-friendly and time-consuming.</li>
					<li>Difficult for differently-abled voters to reach polling booth.</li>
					<li>Cost of expenditure on elections is high.</li>
				</ul>
				<p>Using blockchain, voting process can be made more secure, transparent, immutable, and reliable. How?
					Let’s take an example.</p>
				<p>Suppose you are an eligible voter who goes to polling booth and cast vote using EVM (Electronic
					Voting Machine). But since it’s a circuitry after all and if someone tampers with microchip, you may
					never know that did your vote reach to person for whom you voted or was diverted into another
					candidate’s account?</p>
				<p>Since there’s no tracing back of your vote. But, if you use blockchain- it stores everything as a
					transaction that will be explained soon below; and hence gives you a receipt of your vote (in a form
					of a transaction ID) and you can use it to ensure that your vote has been counted securely.</p>
				<p>Now suppose a digital voting system (website/app) has been launched to digitize process and all
					confidential data is stored on a single admin server/machine, if someone tries to hack it or snoop
					over it, he/she can change candidate’s vote count- from 2 to 22! You may never know that hacker
					installs malware or performs clickjacking attacks to steal or negate your vote or simply attacks
					central server.</p>
				<p>To avoid this, if system is integrated with blockchain- a special property called immutability
					protects system. Consider SQL, PHP, or any other traditional database systems. You can insert,
					update, or delete votes. But in a blockchain you can just insert data but cannot update or delete.
					Hence when you insert something, it stays there forever and no one can manipulate it- Thus name
					immutable ledger.
					But Building a blockchain system is not enough. It should be decentralized i.e if one server goes
					down or something happens on a particular node, other nodes can function normally and do not have to
					wait for victim node’s recovery.</p>
				<P>So a gist of advantages are listed below:</P>
				<ul>
					<li>You can vote anytime/anywhere (During Pandemics like COVID-19 where it’s impossible to hold
						elections physically</li>
					<li>Secure</li>
					<li>Immutable</li>
					<li>Faster</li>
					<li>Transparent</li>
				</ul>
				<h3>Let’s visualize process</h3>
				<P>It is always interesting to learn things if it’s visually explained. Hence diagram given below
					explains how the blockchain voting works.</P>
				<img src="assets/block_chain.png"></img>
				<p><br>According to above diagram, voter needs to enter his/her credentials in order to vote. All data
					is then encrypted and stored as a transaction. This transaction is then broadcasted to every node in
					network, which in turn is then verified. If network approves transaction, it is stored in a block
					and added to chain. Note that once a block is added into chain, it stays there forever and can’t be
					updated. Users can now see results and also trace back transaction if they want.
					<br><br>Since current voting systems don’t suffice to security needs ofmodern generation, there is a
					need to build a system that leverages security, convenience, and trust involved in voting process.
					Hence voting systems make use of Blockchain technology to add an extra layer of security and
					encourage people to vote from any time, anywhere without any hassle and makes voting process more
					cost-effective and time-saving.</p>
			</div>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="https://twitter.com/ta_run__07" class="icon brands alt fa-twitter"><span
								class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/tarunsai-07" class="icon brands alt fa-github"><span
								class="label">GitHub</span></a></li>
					<li><a href="https://www.linkedin.com/in/tarun-%E2%80%8E-73036a194/"
							class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Tarun </li>
				</ul>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>